@model List<WebApp.Models.Result>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>
<table id="tbl">
    <thead>
        <tr>
            <th>Lotte</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">@item.ProvinceName - @item.Date.ToString("dd/MM/yyyy")</div>
                        </div>
                        <div class="card-body">
                            @Html.Raw(string.Format(ViewBag.patterns[item.PatternId - 1].Show, item.Numbers))
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(tbl).dataTable({bsort: false});
</script>