@model List<WebApp.Models.Result>
    <p>Total: @ViewBag.count</p>
@foreach (WebApp.Models.Result item in Model)
{
    <div class="card">
        <div class="card-header">
            <h2 class="card-title"><a href="/">@item.ProvinceName - @item.Date.ToString("dd/MM/yyyy")</a></h2>
        </div>
    </div>
}