<a href="/welcome">Welcome</a>
<a href="/category">Category</a>
<a href="/area">Area</a>
<a href="/province">Province</a>
<a href="/prize">Prize</a>
<a href="/number">Number</a>
<a href="/result">Result</a>
<a href="/pattern">Pattern</a>
<hr />
@Html.Raw(string.Format(ViewBag.pattern, ViewBag.a))
<hr />
<table class="tbl">
    <tr>
        <th>Giải Đặc biệt</th>
        <td colspan="12">024512</td>
    </tr>
    <tr>
        <th>Giải nhất</th>
        <td colspan="12">024512</td>
    </tr>
    <tr>
        <th>Giải nhì</th>
        <td colspan="12">235326</td>
    </tr>
    <tr>
        <th>Giải ba</th>
        <td colspan="6">4564</td>
        <td colspan="6">23467</td>
    </tr>
    <tr class="no-border-bottom">
        <th rowspan="2">Giải tư</th>
        <td colspan="3">6432</td>
        <td colspan="3">4545</td>
        <td colspan="3">2344</td>
        <td colspan="3">6666</td>
    </tr>
    <tr class="no-border-top">
        <td colspan="4">6432</td>
        <td colspan="4">4545</td>
        <td colspan="4">2344</td>
    </tr>
    <tr>
        <th>Giải năm</th>
        <td colspan="12">2354</td>
    </tr>
    <tr>
        <th>Giải sáu</th>
        <td colspan="4">6356</td>
        <td colspan="4">5467</td>
        <td colspan="4">2234</td>

    </tr>
    <tr>
        <th>Giải bảy</th>
        <td colspan="12">123</td>
    </tr>
    <tr>
        <th>Giải tám</th>
        <td colspan="12">41</td>
    </tr>
</table>

<style type="text/css">
    .tbl {
        border: 1px solid #808080;
        width: 100%;
        border-collapse: collapse;
    }

        .tbl td {
            text-align: center;
            padding: 5px;
        }

        .tbl th {
            text-align: left;
        }

        .tbl tr, .tbl th {
            border: 1px solid #ddd;
        }

        .tbl .no-border-bottom {
            border-bottom: none;
        }

        .tbl .no-border-top {
            border-top: none;
        }

        .tbl td:hover {
            background-color: aquamarine;
        }
</style>
@*<table>
        <thead>
            <tr class="col-sm-3">
                <th>Giải ĐB</th>
                <th>Giải nhất</th>
                <th>Giải nhì</th>
                <th>Giải ba</th>
                <th>Giải tư</th>
                <th>Giải năm</th>
                <th>Giải sáu</th>
                <th>Giải bảy</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>*@
<!--<table class="table table-bordered table-hover">

    <tr>
        <th>Giải ĐB</th>
        <td colspan="12" class="col-sm-12 text-center">74019</td>
    </tr>
    <tr>
        <th>Giải nhất</th>
        <td colspan="12" class="col-sm-12 text-center">39363</td>
    </tr>
    <tr>
        <th>Giải nhì</th>
        <td colspan="12" style="border:none;" class="col-sm-6 text-center">65370</td>
    </tr>
    <tr>
        <th>Giải ba</th>
        <td colspan="6" style="border:none;" class="col-sm-4 text-center">45260</td>
        <td colspan="6" style="border:none;" class="col-sm-4 text-center">63523</td>
    </tr>
    <tr>
        <th rowspan="2">Giải tư</th>
        <td colspan="3" style="border:none;" class="col-sm-4 text-center">45260</td>
        <td colspan="3" style="border:none;" class="col-sm-4 text-center">63523</td>
        <td colspan="3" style="border:none;" class="col-sm-4 text-center">63523</td>
        <td colspan="3" style="border:none;" class="col-sm-4 text-center">63523</td>
    </tr>
    <tr>
        <td colspan="4" style="border:none;" class="col-sm-4 text-center">63523</td>
        <td colspan="4" style="border:none;" class="col-sm-4 text-center">63523</td>
        <td colspan="4" style="border:none;" class="col-sm-4 text-center">63523</td>
    </tr>-->
@*<tr>
        <th>Giải tư</th>
        <td style="border:none;" class="col-sm-2 text-center">65370</td>
        <td style="border:none;" class="col-sm-2 text-center">71066</td>
        <td style="border:none;" class="col-sm-2 text-center">71066</td>
        <td style="border:none;" class="col-sm-2 text-center">71066</td>
        <td style="border:none;" class="col-sm-2 text-center">71066</td>
        <td style="border:none;" class="col-sm-2 text-center">71066</td>
    </tr>*@
<!--</table>-->
