@model List<WebApp.Models.Result>
@*<p>Total: @ViewBag.count</p>*@
<p>Total: @ViewBag.n</p>
<ul class="pagination">
    @for (int i = 0; i < ViewBag.n; i++)
    {
        <li class="page-item"><a class="page-link" href="/home/index/@i">@i</a></li>
    }
</ul>
