@model IEnumerable<WebApp.Models.Member>
    <h1 class="mt-4">Manage Role</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">Manage Member</li>
    </ol>
    <h2>Manage Member</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Roles</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MemberId</td>
                    <td>@item.Username</td>
                    <td>@item.Email</td>
                    <td>@item.Gender</td>
                    <td>
                        <a href="/dashboard/member/roles/@item.MemberId">Roles</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>