@model Category
<form method="post">
    <div>
        <label asp-for=Name>Name</label>
        <input type="text" asp-for="Name" />
    </div>
    <div>
        <button>Save Changes</button>
    </div>
</form>