@model List<Category>
<a href="/dashboard/category/create">Create</a>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a href="/dashboard/category/delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>