@model Library.Models.Item;
@{
    ViewData["Title"] = "My Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form>
        <h1>Sách được xem nhiều</h1>
        <ul>
            <li>Porn</li>
            <button class="btn btn-dark">Mượn</button>
        </ul>
    </form>
</div>
