@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.Models.Role
<h1 class="mt-4">Manage Role</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active">Manage Role</li>
</ol>

    <form method="post" action="/dashboard/role/add">
        <div>
            <label asp-for="RoleName">Name</label>
            <input type="text" asp-for="RoleName" />
        </div>
        <div>
            <button>Save Change</button>
        </div>
    </form>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.roles)
            {
                <tr>
                    <td>@item.RoleId</td>
                    <td>@item.RoleName</td>
                </tr>
            }
        </tbody>
       
    </table>