<form method="post">
    <div>
        <label>Province</label>
        <select name="provinceId">
            @foreach (WebApp.Models.Province item in ViewBag.provinces)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <table class="table table-bordered">
        <tr>
            <td>Giải ĐB</td>
            <td colspan="12">
                <input type="hidden" name="prizeId" value="0" />
                <input type="number" name="num" value="330932" />
            </td>
        </tr>
        <tr>
            <td>Giải Nhất</td>
            <td colspan="12">
                <input type="hidden" name="prizeId" value="1" />
                <input type="number" name="num" value="98432" />
            </td>
        </tr>
        <tr>
            <td>Giải Nhì</td>
            <td colspan="12">
                <input type="hidden" name="prizeId" value="2" />
                <input type="number" name="num" value="34253" />
            </td>
        </tr>
        <tr>
            <td>Giải Ba</td>
            <td colspan="6">
                <input type="hidden" name="prizeId" value="3" />
                <input type="number" name="num" value="96726" />
            </td>
            <td colspan="6">
                <input type="hidden" name="prizeId" value="3" />
                <input type="number" name="num" value="283215" />
            </td>
        </tr>
        <tr>
            <td>Giải Tư</td>
            <td colspan="3">
                <input type="hidden" name="prizeId" value="4" />
                <input type="number" name="num" value="58470" />
            </td>
            <td colspan="3">
                <input type="hidden" name="prizeId" value="4" />
                <input type="number" name="num" value="33448" />
            </td>
            <td colspan="3">
                <input type="hidden" name="prizeId" value="4" />
                <input type="number" name="num" value="68392" />
            </td>
            <td colspan="3">
                <input type="hidden" name="prizeId" value="4" />
                <input type="number" name="num" value="76755" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="4">
                <input type="hidden" name="prizeId" value="4" />
                <input type="number" name="num" value="14609" />
            </td>
            <td colspan="4">
                <input type="hidden" name="prizeId" value="4" />
                <input type="number" name="num" value="28459" />
            </td>
            <td colspan="4">
                <input type="hidden" name="prizeId" value="4" />
                <input type="number" name="num" value="78705" />
            </td>
        </tr>
        <tr>
            <td>Giải Năm</td>
            <td colspan="12">
                <input type="hidden" name="prizeId" value="5" />
                <input type="number" name="num" value="0829" />
            </td>
        </tr>
        <tr>
            <td>Giải Sáu</td>
            <td colspan="4">
                <input type="hidden" name="prizeId" value="6" />
                <input type="number" name="num" value="3386" />
            </td>
            <td colspan="4">
                <input type="hidden" name="prizeId" value="6" />
                <input type="number" name="num" value="7416" />
            </td>
            <td colspan="4">
                <input type="hidden" name="prizeId" value="6" />
                <input type="number" name="num" value="8577" />
            </td>
        </tr>
        <tr>
            <td>Giải Bảy</td>
            <td colspan="12">
                <input type="hidden" name="prizeId" value="7" />
                <input type="number" name="num" value="950" />
            </td>
        </tr>
        <tr>
            <td>Giải Tám</td>
            <td colspan="12">
                <input type="hidden" name="prizeId" value="8" />
                <input type="number" name="num" value="83" />
            </td>
        </tr>
    </table>
    <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" name="date" />
    </div>
    <div class="form-group">
        <button class="btn btn-outline-danger">Save Changes</button>
    </div>
</form>