<form method="post">
    <div>
        <label>Date</label>
        <input type="date" name="date" />
    </div>
    <div>
        <label>Province</label>
        <select name="provinceId">
            @foreach (WebApp.Models.Province item in ViewBag.provinces)
            {
                <option value="@item.Id" v="@item.PatternId">@item.Name</option>
            }
        </select>
    </div>
    <div id="sheet">
        <!--Ajax-->
    </div>
    <div>
        <button>Save Changes</button>
    </div>
</form>
<script>
    var json = {};
    function loadData(id) {
        if (json[id] == undefined) {
            $.get(`/result/GetAddByPattern/${id}`, (d) => {
                json[id] = d;
                $(sheet).html(null); //xoa data cu
                $(sheet).append(d);
            })
        } else {
            $(sheet).html(null); //xoa data cu
            $(sheet).append(json[id]);
        }
    }
    console.log($('select[name="provinceId"] option:selected').attr('v'));
    //new:
    loadData($('select[name="provinceId"] option:selected').attr('v'));
    $('select[name="provinceId"]').change(function () {
        loadData($(this).find('option:selected').attr('v'));
    //old:
    //loadData($('select[name="provinceId"]').val());
    //$('select[name="provinceId"]').change(function () {
    //    loadData($(this).val());
        //$.get(`/result/getadd/${(this).val()}`, (d) => {
        //    $(sheet).append(d);
        //})
    });
</script>
