@model WebApp.Models.Result
@addTagHelper *,WebApp
<div class="card">
    <div class="card-header">
        <div class="card-title">@Model.ProvinceName - @Model.Date.ToString("dd/MM/yyyy")</div>
    </div>
    <div class="card-body">
        <show numbers="@ViewBag.numbers" value="@ViewBag.pattern"></show>
    </div>
</div>
<script>
    $('span.e').dblclick(function () {
        //console.log(this);
        //alert('OK');
        $(this).attr('contenteditable', true);
    });
    $('td').bind('keydown', 'span[contenteditable="true"]', function (e) {
        console.log(e.keyCode);
        //Khi enter
        if (e.keyCode == 13) {
            //console.log(e.target)
            var span = e.target;
            //console.log($(span).attr('v'));
            var o = { id: $(span).attr('v'), value: $(span).text() };
            $.post('/number/edit', o, (d) => {
                console.log(d);
                $(span).removeAttr('contenteditable');
            });
            e.preventDefault();
        }
    });
    //Mất focus
    $('td').bind('focusout', 'span[contenteditable="true"]', function (e) {
        //alert("Loses focus");
        //window.location.reload();
        var span = e.target;
        //console.log($(span).attr('v'));
        var o = { id: $(span).attr('v'), value: $(span).text() };
        $.post('/number/edit', o, (d) => {
            console.log(d);
            $(span).removeAttr('contenteditable');
        });
        e.preventDefault();
    });
</script> 
<style>
    span[contenteditable="true"]{
        background-color: white;
        padding: 7px;
    }
</style>
