@model WebApp.Models.Result
@addTagHelper *,WebApp

<div class="card">
    <div class="card-header">
        <div class="card-title">@Model.Date.ToString("dd-MM-yyyy") - @Model.ProvinceName</div>
    </div>
    <form class="card-body" method="post">
        <pattern value="@ViewBag.pattern" numbers="@ViewBag.numbers"></pattern>
        <div class="form-group">
            <button class="btn btn-primary">Save Changes</button>
        </div>
    </form>
</div>