<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/all.min.css" rel="stylesheet" />
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <!--Luôn nằm dưới jquery-->
    <script src="~/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
