@model List<WebApp.Models.Area>
<form method="post">
    <div>
        <label>Area</label>
        <select name="areaId">
            @foreach (WebApp.Models.Area item in Model)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div>
        <label>Pattern</label>
        <select name="patternId">
            @foreach (WebApp.Models.Pattern item in ViewBag.patterns)
            {
                <option value="@item.Id">@item.Id</option>
            }
        </select>
    </div>
    <div>
        <label>Name</label>
        <input type="text" name="name" />
    </div>
    <div>
        <button>Save Changes</button>
    </div>
</form>