<form method="post" enctype="multipart/form-data">
    <div>
        <label>Choose Folder</label>
        <input type="file" webkitdirectory name="af"/>
    </div>
    <div>
        <button>Upload</button>
    </div>
</form>