@model IEnumerable<Image>
<div class="form-group">
    <a href="/dashboard/image/create" class="btn btn-secondary">Create</a>
    <a href="/dashboard/image/multiple" class="btn btn-secondary">Multiple</a>
    <a href="/dashboard/image/weburl" class="btn btn-secondary">Web Url</a>
    <a href="/dashboard/image/draganddrop" class="btn btn-secondary">Drag And Drop</a>
    <a href="/dashboard/image/clipboard" class="btn btn-secondary">Clipboard</a>
    <a href="/dashboard/image/folder" class="btn btn-secondary">Folder</a>
    <a href="/dashboard/image/webcam" class="btn btn-secondary">Webcam</a>
</div>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Original</th>
            <th>Url</th>
            <th>Type</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.ImageId</td>
                <td>@item.ImageOriginal</td>
                <td>
                    <img src="images/@item.ImageUrl" width="70">
                </td>
                <td>@item.ImageType</td>
                <td>@item.ImageSize</td>
            </tr>
        }
    </tbody>
</table>