<form method="post" enctype="multipart/form-data">
<div>
    <label>Pdf</label>
    <input type="file" accept="application/pdf" name="f"/>
</div>    
<div>
    <button class="btn btn-primary">Upload</button>
</div>
</form>