@model Pdf
<link rel="stylesheet" href="styles/kendo.common.min.css" />
<link rel="stylesheet" href="/css/kendo.default.min.css" />
<link rel="stylesheet" href="/css/kendo.default.mobile.min.css" />
<script src="/js/kendo.all.min.js"></script>
<div id="viewPdf">
</div>
<script>
    $.when(
        $.getScript("https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.js"),
        $.getScript("https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.worker.js")
    )
    .done(function () {
        window.pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.worker.js';
    }).then(function(){
        $("#viewPdf").kendoPDFViewer({
            pdfjsProcessing: {
                file: "/pdf/@Model.PdfUrl"
            },
            width: "100%",
            height: 1200
        });
    })
</script>