@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<h2>WElcome</h2>

<form>
    <div>
        <label>Province</label>
        <select name="provinceId" asp-items="@ViewBag.provinces"></select>
    </div>
    <div>
        <label>District</label>
        <select name="districtId"></select>
    </div>
    <div>
        <label>Ward</label>
        <select name="wardId"></select>
    </div>
</form>
<script>
    function getDistricts(id){
        $.post(`/home/wards/${id}`, (d)=>{
            $('select[name="wardId"]').html(null);
            for (var i in d) {
                $('select[name="wardId"]').append(`<option value="${d[i]['wardId']}">${d[i]['wardName']}</option>`);
            }
        });
    }
    $('select[name="districtId"]').change(function(){
        var id = $(this).val();
        // console.log(id);
        getDistricts(id);
     });
    function getProvinces(id){
        $.post(`/home/districts/${id}`, (d) => {
            //console.log(d);
            //xoa dữ liệu cũ
            $('select[name="districtId"]').html(null);
            for (var i in d) {
                $('select[name="districtId"]').append(`<option value="${d[i]['districtId']}">${d[i]['districtName']}</option>`);
            }
            getDistricts($('select[name="districtId"]').val()); // ở đây mới chạy binh thuong
        });
    }

    var pid = localStorage.getItem('pid');
    console.log('******', pid);
    if (pid == null) {
        pid = $('select[name="provinceId"]').val();
        localStorage.setItem('pid', pid);
    }
    getProvinces(pid);
    $('select[name="provinceId"]').val(pid);
    $('select[name="provinceId"]').change(function(){
        var id = $(this).val();
        localStorage.setItem('pid', id);
        getProvinces(id);
    });
</script>