@model WebApp.Models.Pattern
<form method="post">
    <div class="form-group">
        <label>Add</label>
        <textarea class="form-control" name="add">@Model?.Add</textarea>
    </div>
    <div class="form-group">
        <label>Show</label>
        <textarea class="form-control" name="show">@Model.Show</textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Save Changes</button>
    </div>
</form>
